@import "../../global.scss";

.topbar {
  background-color: white;
  color: $mainColor;
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 3;
  transition: all 1.5s ease;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;

    .left {
      display: flex;
      align-items: center;
      .logo {
        font-size: 40px;
        font-weight: 900;
        color: inherit;
        margin-right: 40px;
      }

      .itemContainer {
        display: flex;
        align-items: center;
        margin-left: 20px;

        @include mobile {
          display: none;
        }

        .icon {
          margin-right: 5px;
          font-size: 18px;
        }

        span {
          font-size: 16px;
          font-weight: 400;

          a {
            color: inherit;
            text-decoration: none;
            font-weight: 400;
          }
        }
      }
    }

    .right {
      .hamburger {
        width: 32px;
        height: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;

        span {
          width: 100%;
          height: 3px;
          background-color: $mainColor;
          transform-origin: left;
          transition: all 2s ease;
        }
      }
    }
  }

  &.active {
    background-color: $mainColor;
    color: white;

    .hamburger {
      span {
        &:first-child {
          background-color: white;
          transform: rotate(45deg);
        }

        &:nth-child(2) {
          opacity: 0;
        }
        &:last-child {
          background-color: white;
          transform: rotate(-45deg);
        }
      }
    }

    a {
      color: inherit;
      text-decoration: none;
      font-weight: 400;
    }
  }
}
